In [1]:

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
heart_disease = pd.read_csv('../../Datas/heart-disease.csv')
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
# Getting data ready
X = heart_disease.drop('target', axis = 1)
Y = heart_disease['target']

In [5]:
X

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [6]:
Y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [12]:
# Splitting data into train data and test data
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y)

In [13]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
208,49,1,2,120,188,0,1,139,0,2.0,1,3,3
212,39,1,0,118,219,0,1,140,0,1.2,1,0,3
197,67,1,0,125,254,1,1,163,0,0.2,1,2,3
265,66,1,0,112,212,0,0,132,1,0.1,2,1,2
142,42,0,2,120,209,0,1,173,0,0.0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,66,0,0,178,228,1,1,165,1,1.0,1,2,3
136,60,0,2,120,178,1,1,96,0,0.0,2,0,2
192,54,1,0,120,188,0,1,113,0,1.4,1,1,3
59,57,0,0,128,303,0,0,159,0,0.0,2,1,2
33,54,1,2,125,273,0,0,152,0,0.5,0,1,2

In [14]:
X_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3
227,35,1,0,120,198,0,1,130,1,1.6,1,0,3
187,54,1,0,124,266,0,0,109,1,2.2,1,1,3
57,45,1,0,115,260,0,0,185,0,0.0,2,0,2
69,62,0,0,124,209,0,1,163,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,59,1,0,140,177,0,1,162,1,0.0,2,1,3
185,44,1,0,112,290,0,0,153,0,0.0,2,1,2
223,56,0,0,200,288,1,0,133,1,4.0,0,2,3
124,39,0,2,94,199,0,1,179,0,0.0,2,0,2
151,71,0,0,112,149,0,1,125,0,1.6,1,0,2

In [15]:
# Random Forest Classifier for classification problems
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

In [17]:
# Fitting and Predicting
clf.fit(X_train, Y_train)
ypreds = clf.predict(X_test)
ypreds

array([1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 0, 0, 0, 0, 0, 1, 1])

In [18]:
yprob = clf.predict_proba(X_test)
yprob

array([[0.19, 0.81],
       [0.8 , 0.2 ],
       [1.  , 0.  ],
       [0.26, 0.74],
       [0.29, 0.71],
       [0.09, 0.91],
       [0.86, 0.14],
       [0.21, 0.79],
       [0.09, 0.91],
       [0.92, 0.08],
       [0.46, 0.54],
       [0.89, 0.11],
       [0.21, 0.79],
       [0.84, 0.16],
       [0.02, 0.98],
       [0.52, 0.48],
       [0.34, 0.66],
       [0.24, 0.76],
       [0.03, 0.97],
       [0.26, 0.74],
       [0.87, 0.13],
       [0.71, 0.29],
       [0.05, 0.95],
       [0.08, 0.92],
       [0.04, 0.96],
       [0.94, 0.06],
       [0.77, 0.23],
       [0.28, 0.72],
       [0.01, 0.99],
       [0.29, 0.71],
       [0.35, 0.65],
       [0.09, 0.91],
       [0.8 , 0.2 ],
       [0.37, 0.63],
       [0.42, 0.58],
       [0.72, 0.28],
       [0.48, 0.52],
       [0.92, 0.08],
       [0.37, 0.63],
       [0.49, 0.51],
       [0.95, 0.05],
       [0.38, 0.62],
       [0.2 , 0.8 ],
       [0.11, 0.89],
       [0.32, 0.68],
       [0.97, 0.03],
       [0.13, 0.87],
       [0.69, 0.31],
       [0.9 , 0.1 ],
       [0.26, 0.74],
       [0.05, 0.95],
       [0.27, 0.73],
       [0.96, 0.04],
       [0.69, 0.31],
       [0.15, 0.85],
       [0.42, 0.58],
       [0.48, 0.52],
       [0.23, 0.77],
       [0.22, 0.78],
       [0.22, 0.78],
       [0.11, 0.89],
       [0.36, 0.64],
       [0.36, 0.64],
       [0.26, 0.74],
       [0.05, 0.95],
       [0.  , 1.  ],
       [0.31, 0.69],
       [0.66, 0.34],
       [0.28, 0.72],
       [0.79, 0.21],
       [0.9 , 0.1 ],
       [0.69, 0.31],
       [0.64, 0.36],
       [0.99, 0.01],
       [0.07, 0.93],
       [0.3 , 0.7 ]])

In [20]:
# Evaluating model
clf.score(X_test, Y_test)

0.881578947368421

In [22]:
# Classification metrics
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
print(accuracy_score(ypreds, Y_test))

0.881578947368421

In [23]:
print(confusion_matrix(ypreds, Y_test))

[[24  2]
 [ 7 43]]

In [24]:
print(classification_report(ypreds, Y_test))

              precision    recall  f1-score   support

           0       0.77      0.92      0.84        26
           1       0.96      0.86      0.91        50

    accuracy                           0.88        76
   macro avg       0.86      0.89      0.87        76
weighted avg       0.89      0.88      0.88        76

In [28]:
# Saving and loading the model
import pickle

In [30]:
pickle.dump(clf, open('model.pkl', 'wb'))

In [31]:
# Loading
model = pickle.load(open('model.pkl', 'rb'))
model.fit(X_train, Y_train)

RandomForestClassifier()

In [32]:
model.score(X_test, Y_test)

0.9078947368421053

In [33]:
model.score(X_train, Y_train)

1.0